<!DOCTYPE html>
<html lang="ru">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Открыть модальное окно
</button>

<!-- Модальное окно -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <h5 class="modal-title">Заголовок модального окна</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Содержимое модального окна -->
      <div class="modal-body">
        <table class="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">№</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Наименование</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Тип</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Ширина</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Высота</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Откр.</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Стекло</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Кол-во</th>
                            <th style="padding: 4px; background-color: #37b1de; text-align: center; vertical-align: middle;">Комментарий</th>
                        </tr>
                    </thead>
      </div>
      <!-- Подвал модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</html>