{% extends 'base.html' %}

{% block content %}
<style>
    /* Общие стили для таблицы */
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;
    }
    th, td {
        padding: 4px; /* Уменьшаем padding для уменьшения высоты строк */
        text-align: center;
        vertical-align: middle;
        border: 1px solid #dee2e6; /* Установка границы для ячеек */
    }
    th {
        background-color: #f8f9fa; /* Цвет фона заголовков */
    }
    tbody tr:hover {
        background-color: #e6e6fa; /* Цвет строки при наведении */
    }
</style>

<table>
    <thead>
        <tr>
            <th rowspan="2">№ заказа</th>
            <th rowspan="2">Цех</th>
            <th rowspan="2">Организация</th>
            <th rowspan="2">Счет</th>
            <th colspan="3">Новый конструктив</th>
            <th colspan="3">Старый конструктив</th>
            <th rowspan="2">Фрамуга</th>
            <th rowspan="2">В < 3 м</th>
            <th rowspan="2">В > 3 м</th>
            <th rowspan="2">Стекло</th>
            <th rowspan="2">Ъ</th>
            <th rowspan="2">В очередь</th>
            <th rowspan="2">Менеджер</th>
            <th rowspan="2">Готовность</th>
            <th rowspan="2">Комментарии</th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>Л</th>
            <th>1</th>
            <th>2</th>
            <th>Л</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{% url 'order_detail' order.id %}">{{ order.id }}</a>
                    <br>
                    <span style="font-size: 11px; font-style: italic; color: grey;">{{ order.status }}</span>
                </td>
                <td></td>
                <td>
                    <a href="{% url 'organization_detail' order.invoice.organization.id %}">{{ order.invoice.organization }}</a>
                </td>
                <td>
                    <a href="{% url 'invoice_detail' order.invoice.id %}">{{ order.invoice.number }}</a>
                </td>
                <td>{{ order.doors_1_nk }}</td>
                <td>{{ order.doors_2_nk }}</td>
                <td>{{ order.hatch_nk }}</td>
                <td>{{ order.doors_1_sk }}</td>
                <td>{{ order.doors_2_sk }}</td>
                <td>{{ order.hatch_sk }}</td>
                <td>{{ order.transom }}</td>
                <td>{{ order.gate }}</td>
                <td>{{ order.gate_3000 }}</td>
                <td>
                    {% if order.q_glass != 0 %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#glassModal{{ order.id }}">{{ order.glass }}</a>
                    {% else %}
                        {{ order.q_glass }}
                    {% endif %}
                </td>
                <td></td>
                <td>{{ order.created_at|date:"d.m.Y" }}</td>
                <td>{{ order.invoice.organization.user.get_full_name }}</td>
                <td>{{ order.due_date|date:"d.m.Y" }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
