{% extends 'base.html' %}

{% block content %}
<table border="1" style="border-collapse: collapse; width: 100%; margin: 0 auto 0 0">
  <thead>
    <tr>
      <th rowspan="2" style="padding: 4px; text-align: center; vertical-align: middle;">№ заказа</th>
      <th rowspan="2" style="padding: 4px; text-align: center; vertical-align: middle;">Цех</th>
      <th rowspan="2" style="padding: 35px; text-align: center; vertical-align: middle;">Организация</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">Счет</th>
      <th colspan="3" style="padding: 8px; text-align: center; vertical-align: middle;">Новый конструктив</th>
      <th colspan="3" style="padding: 8px; text-align: center; vertical-align: middle;">Старый конструктив</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">Фрамуга</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">В &lt; 3 м</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">В &gt; 3 м</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">Стекло</th>
      <th rowspan="2" style="padding: 15px; text-align: center; vertical-align: middle;">Ъ</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">В очередь</th>
      <th rowspan="2" style="padding: 15px; text-align: center; vertical-align: middle;">Менеджер</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">Готовность</th>
      <th rowspan="2" style="padding: 8px; text-align: center; vertical-align: middle;">Комментарии</th>
    </tr>
    <tr>
      <th style="padding: 6px; text-align: center; vertical-align: middle;">1</th>
      <th style="padding: 6px; text-align: center; vertical-align: middle;">2</th>
      <th style="padding: 6px; text-align: center; vertical-align: middle;">Л</th>
      <th style="padding: 6px; text-align: center; vertical-align: middle;">1</th>
      <th style="padding: 6px; text-align: center; vertical-align: middle;">2</th>
      <th style="padding: 6px; text-align: center; vertical-align: middle;">Л</th>
    </tr>
  </thead>
  <tbody>

  {% for order in orders %}
      <tr>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">
            <a href="{% url 'order_detail' order.id %}" >{{ order.id }}</a>
              <br>
              <span style="font-size: 12px; font-style: italic; color: grey; line-height: 50%;">{{ order.status }}</span>
          </td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;"></td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">
              <a href="{% url 'organization_detail' order.invoice.organization.id %}">{{ order.invoice.organization }}</a>
          </td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">
              <a href="{% url 'invoice_detail' order.invoice.id %}">{{ order.invoice.number }}</a>
          </td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.doors_1_nk }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.doors_2_nk }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.hatch_nk }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.doors_1_sk }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.doors_2_sk }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.hatch_sk }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.transom }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.gate }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.gate_3000 }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">
            {% if order.glass != 0 %}
              <a href="#" data-toggle="modal" data-target="#glassModal{{ order.id }}">{{ order.glass }}</a>
            {% else %}
              {{ order.glass }}
            {% endif %}
          </td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;"></td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.created_at|date:"d.m.Y" }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.invoice.organization.user.last_name }} {{ order.invoice.organization.user.first_name }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;">{{ order.due_date|date:"d.m.Y"  }}</td>
          <td style="padding: 8px; text-align: center; vertical-align: middle;"></td>

      </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

