{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<style>
    .form-select {
        width: auto; /* Делаем ширину автоматически подстраивающейся */
        min-width: 120px; /* Минимальная ширина для удобства */
        padding: 0.2rem; /* Небольшие отступы */
    }
    .hidden {
        display: none; /* скрывает элементы */
    }
    table tr:hover{
        background-color: #e6e6fa;
    }

</style>
<div class="container-fluid my-4">
    <h1 class="mb-4 text-center"  style="border: none">Детали заказа: №{{ order.id }}</h1>

    <div class="card shadow-sm mb-4">
        <div class="card-header" >
            <strong>Информация о заказе</strong>
        </div>
        <div class="card-body">
            <h5 class="card-title">Дата создания: {{ order.created_at }}</h5>

            <p class="card-text">Файл заказа: <a class="btn btn-link" href="{{ order.order_file.url }}">Скачать</a></p>
            <form method="post" enctype="multipart/form-data" class="mt-3" id="replaceFileForm" action="{% url 'order_upload' %}"> <!-- Убедитесь, что это правильный URL -->
                {% csrf_token %}
                <div class="mb-3">
                    <label for="order_file" class="form-label">Заменить файл заказа:</label>
                    <input type="file" class="form-control" id="order_file" name="order_file" required>
                </div>
                <button type="submit" class="btn btn-primary">Загрузить новый файл заказа</button>
            </form>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            Связанные счета
            <button id="toggleInvoices" class="btn btn-primary">Развернуть</button>
        </div>
        <div id="invoiceItems" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease;">
            <div class="card-body">
                <ul class="list-group">
                    {% if order.invoice %}
                        <li class="list-group-item">Счет №: <a href="{% url 'invoice_detail' order.invoice.id %}">{{ order.invoice.number }}</a></li>
                        <li class="list-group-item">Организация: <a href="{% url 'organization_detail' order.invoice.organization.id %}">{{ order.invoice.organization }}</a></li>
                        <li class="list-group-item">Дата: {{ order.invoice.date }}</li>
                        <li class="list-group-item">Сумма: {{ order.invoice.amount|intcomma }} р.</li>
                        <li class="list-group-item">Оплаченная сумма: {{ order.invoice.payed_amount|intcomma }} р.</li>
                    {% else %}
                        <li class="list-group-item">Отсутствуют связанные счета.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            Содержимое заказа
            <button id="toggleButton" class="btn btn-primary">Развернуть</button>
        </div>
        <div id="orderItems" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease;">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: #37b1de">
                            <th style="text-align: center; vertical-align: middle;">№</th>
                            <th style="text-align: center; vertical-align: middle;">Наименование</th>
                            <th style="text-align: center; vertical-align: middle;">Тип</th>
                            <th style="text-align: center; vertical-align: middle;">Ширина</th>
                            <th style="text-align: center; vertical-align: middle;">Высота</th>
                            <th style="text-align: center; vertical-align: middle;">Откр.</th>
                            <th style="text-align: center; vertical-align: middle; width: 120px">Стекло</th>
                            <th style="text-align: center; vertical-align: middle; width: 120px">Фурнитура</th>
                            <th style="text-align: center; vertical-align: middle;">Кол-во</th>
                            <th style="text-align: center; vertical-align: middle;">Комментарий</th>
                            <th style="text-align: center; vertical-align: middle;">Статус</th>
                            <th style="text-align: center; vertical-align: middle;">Цех</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in filtered_items %}
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">{{ item.position_num }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ item.get_p_kind_display }}</td>
                                <td style="text-align: center; vertical-align: middle; white-space: nowrap;">{{ item.get_p_type_display }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ item.p_width }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ item.p_height }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ item.p_open }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ item.d_glass|safe }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ item.p_furniture }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ item.p_quantity }}</td>
                                <td style="text-align: left; vertical-align: middle;">{{ item.p_comment|default_if_none:'' }}</td>
                                <td style="width:120px; text-align: center; vertical-align: middle;">
                                    <span class="current-status">{{ item.get_p_status_display }}</span>
                                    <select class="form-select order-status-select hidden" data-id="{{ item.id }}">
                                        <option value="in_query" {% if item.p_status == 'in_query' %} selected {% endif %}>в очереди</option>
                                        <option value="product" {% if item.p_status == 'product' %} selected {% endif %}>запущен</option>
                                        <option value="ready" {% if item.p_status == 'ready' %} selected {% endif %}>готов</option>
                                        <option value="shipped" {% if item.p_status == 'shipped' %} selected {% endif %}>отгружен</option>
                                        <option value="canceled" {% if item.p_status == 'canceled' %} selected {% endif %}>отменен</option>
                                        <option value="stopped" {% if item.p_status == 'stopped' %} selected {% endif %}>остановлен</option>
                                    </select>
                                </td>
                                <td style="width:120px; text-align: center; vertical-align: middle;">
                                    <span class="current-workshop">{% if item.workshop != 2 %} {{ item.workshop }}{% else %} {% endif %}</span>
                                    <select class="form-select item-workshop-select hidden" data-id="{{ item.id }}">
                                        <option value="1" {% if item.workshop == 1 %} selected {% endif %}>1</option>
                                        <option value="3" {% if item.workshop == 3 %} selected {% endif %}>3</option>
                                        <option value="2" {% if item.workshop == 2 %} selected {% endif %}>стоп</option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="editButton" style="margin: 15px;">Внести изменения</button>
            </div>
        </div>
    </div>
</div>

<script>
const editButton = document.getElementById('editButton');
const csrfToken = '{{ csrf_token }}';

editButton.onclick = function() {
    const statusSelectElements = document.querySelectorAll('.order-status-select');
    const workshopSelectElements = document.querySelectorAll('.item-workshop-select');

    if (editButton.textContent === 'Внести изменения') {
        // Переключение на режим редактирования
        statusSelectElements.forEach(select => {
            select.classList.remove('hidden');
            const currentStatus = select.previousElementSibling;
            currentStatus.classList.add('hidden'); // Скрываем текущее значение
        });

        workshopSelectElements.forEach(select => {
            select.classList.remove('hidden');
            const currentWorkshop = select.previousElementSibling;
            currentWorkshop.classList.add('hidden'); // Скрываем текущее значение
        });

        editButton.textContent = 'Сохранить изменения';
    } else {
        // Сохранение выбранных значений
        const updates = {};

        statusSelectElements.forEach(select => {
            const id = select.getAttribute('data-id');
            const newStatus = select.value;
            updates[id] = updates[id] || {};
            updates[id].status = newStatus; // Сохраняем статус
        });

        workshopSelectElements.forEach(select => {
            const id = select.getAttribute('data-id');
            const newWorkshop = select.value;
            updates[id] = updates[id] || {};
            updates[id].workshop = newWorkshop; // Сохраняем цех
            updates[id].path = 'order_detail'
        });

        // Выполняем запрос на сохранение
        fetch(`/erp_main/update-order-item-status/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({'updates': updates})
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Возвращаем JSON данные
            } else {
                throw new Error('Ошибка обновления!');
            }
        })
        .then(data => {
            alert('Статусы и цеха успешно обновлены!');

            // Обновляем отображение статуса и цеха без перезагрузки
            Object.keys(data).forEach(id => {
                const newStatus = data[id].status;
                const newWorkshop = data[id].workshop;

                // Находим соответствующие элементы на странице
                const currentStatus = document.querySelector(`.current-status[data-id="${id}"]`);
                const currentWorkshop = document.querySelector(`.current-workshop[data-id="${id}"]`);

                if (currentStatus) {
                    currentStatus.textContent = newStatus; // Обновляем текст статуса
                }

                if (currentWorkshop) {
                    currentWorkshop.textContent = newWorkshop; // Обновляем текст цеха
                }
            });

            // Убираем селекты после сохранения
            statusSelectElements.forEach(select => {
                select.classList.add('hidden'); // Скрываем селект
                const currentStatus = select.previousElementSibling;
                currentStatus.classList.remove('hidden'); // Показываем обновленный статус
            });

            workshopSelectElements.forEach(select => {
                select.classList.add('hidden'); // Скрываем селект
                const currentWorkshop = select.previousElementSibling;
                currentWorkshop.classList.remove('hidden'); // Показываем обновленный цех
            });

            editButton.textContent = 'Внести изменения'; // Возвращаем текст кнопки
        })
        .catch(error => {
            alert(error.message);
        });
    }
};

document.getElementById("toggleInvoices").addEventListener("click", function() {
    toggleSection("toggleInvoices", "invoiceItems");
});

document.getElementById("toggleButton").addEventListener("click", function() {
    toggleSection("toggleButton", "orderItems");
});

function toggleSection(buttonId, sectionId) {
    const button = document.getElementById(buttonId);
    const section = document.getElementById(sectionId);
    const isExpanded = section.style.maxHeight !== "0px";

    section.style.maxHeight = isExpanded ? "0px" : section.scrollHeight + "px";
    button.textContent = isExpanded ? "Развернуть" : "Скрыть";
}
</script>

{% endblock %}
