{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block head %}
<!-- Импорт Bootstrap CSS -->
{% endblock %}

{% block content %}
<div class="container mt-5" style="width: 30%;">
    <h2 class="mb-4">Загрузка заказа</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.order_file.label_tag }}
            {{ form.order_file }}  <!-- Поле файла -->
            {% if form.order_file.errors %}
                <div class="text-danger">
                    {{ form.order_file.errors }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.invoice.label_tag }}
            {{ form.invoice }}  <!-- Поле счета -->
            <button type="button" class="custom-button" data-bs-toggle="modal" data-bs-target="#newInvoiceModal">Новый счет</button>
            {% if form.invoice.errors %}
                <div class="text-danger">
                    {{ form.invoice.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Новые поля для ввода -->
        <div class="mb-3">
            <label for="id_readiness"><b>Согласованный срок изготовления</b></label><br>
            <input type="radio" name="kind_of_date" value="working" checked onchange="calculateDate()"> рабочие дни
            <input type="radio" name="kind_of_date" value="calendar" onchange="calculateDate()"> календарные дни<br>

            <input type="number" class="form-control numeric-input" id="id_readiness" name="readiness" value="1" style="width: 60%;" required placeholder="Введите готовность" oninput="calculateDate()">
            <input type="hidden" id="dueDateInput" name="due_date"> <!-- Скрытое поле для даты готовности -->
            <div>
                <strong>Планируемая дата готовности:</strong> <span id="dueDate"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="id_comment"><b>Комментарий</b></label>
            <textarea class="form-control" id="id_comment" name="comment" rows="3" placeholder="Введите комментарий"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Загрузить</button>
    </form>
</div>

<!-- Модальное окно для добавления нового счета -->
<div class="modal fade" id="newInvoiceModal" tabindex="-1" aria-labelledby="newInvoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newInvoiceModalLabel">Добавить новый счет</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="newInvoiceForm" method="post" action="{% url 'invoice_add' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id_number">Номер</label>
                        <input type="text" class="form-control" id="id_number" name="number" maxlength="5" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_date">Дата</label>
                        <input type="text" class="form-control" id="id_date" name="date" maxlength="10" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_amount">Сумма</label>
                        <input type="text" class="form-control numeric-input" id="id_amount" name="amount" required placeholder="Введите сумму">
                    </div>
                    <div class="mb-3">
                        <label for="id_payed_amount">Оплачено</label>
                        <input type="text" class="form-control numeric-input" id="id_payed_amount" name="payed_amount" value="0" placeholder="Введите оплачено">
                    </div>
                    <div class="mb-3">
                        <label for="id_shipping_amount">Стоимость доставки</label>
                        <input type="text" class="form-control numeric-input" id="id_shipping_amount" name="shipping_amount" value="0" placeholder="Введите стоимость доставки">
                    </div>
                    <div class="mb-3">
                        <label for="id_montage_amount">Стоимость монтажа</label>
                        <input type="text" class="form-control numeric-input" id="id_montage_amount" name="montage_amount" value="0" placeholder="Введите стоимость монтажа">
                    </div>
                    <div class="mb-3">
                        <label for="id_legal_entity">Юридическое лицо</label>
                        <select class="form-select" id="id_legal_entity" name="legal_entity" required>
                            <option value="" disabled selected>Выберите юридическое лицо</option>
                            {% for entity in legal_entities %}
                                <option value="{{ entity.id }}">{{ entity.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_organization">Организация</label>
                        <select class="form-select" id="id_organization" name="organization" required>
                            <option value="" disabled selected>Выберите организацию</option>
                            {% for organization in organizations %}
                                <option value="{{ organization.id }}">{{ organization.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="modal-error-messages" class="text-danger" style="display: none;"></div> <!-- Для отображения ошибок -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить счет</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Валидация для полей ввода числовых значений
    $(document).on('input', '.numeric-input', function() {
        this.value = this.value.replace(/[^0-9]/g, ''); // Удалить все символы, кроме цифр
    });

    // Обработка отправки формы с помощью AJAX
    $(document).on('submit', '#newInvoiceForm', function(event) {
        event.preventDefault(); // предотвращаем отправку формы
        const formData = $(this).serialize(); // собираем данные формы

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'), // URL для отправки данных формы
            data: formData,
            success: function(response) {
                if (response.success) {
                    location.reload(); // Обновите страницу после успешного добавления
                }
            },
            error: function(xhr) {
                // Обработка ошибок
                const errors = xhr.responseJSON.error;
                $('#modal-error-messages').html(errors).show(); // Выводим ошибки в модальном окне
            }
        });
    });

    function calculateDate() {
        const readinessInput = document.getElementById('id_readiness').value;
        const kindOfDate = document.querySelector('input[name="kind_of_date"]:checked').value;
        const workDays = kindOfDate === 'working';
        const startDate = new Date();

        let daysToAdd = parseInt(readinessInput) || 0;
        let resultDate = new Date(startDate);

        if (workDays) {
            let addedDays = 0;
            while (addedDays < daysToAdd) {
                resultDate.setDate(resultDate.getDate() + 1);
                if (resultDate.getDay() !== 0 && resultDate.getDay() !== 6) {
                    addedDays++;
                }
            }
        } else {
            resultDate.setDate(resultDate.getDate() + daysToAdd);
        }

        const dueDateFormatted = resultDate.toLocaleDateString();
        document.getElementById('dueDate').textContent = dueDateFormatted;
        document.getElementById('dueDateInput').value = resultDate.toISOString().split('T')[0]; // Сохраните дату в формате 'YYYY-MM-DD'
    }

    // Инициализация при загрузке страницы
    document.addEventListener('DOMContentLoaded', calculateDate);
</script>
{% endblock %}