{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    /* Общие стили для таблицы */
    table {
        border-collapse: collapse; /* Объединяем границы ячеек */
        width: 100%;
        margin: 0 auto;
    }
    th {
        padding: 4px; /* Уменьшаем padding для уменьшения высоты строк */
        text-align: center;
        vertical-align: middle;
        border-bottom: none; /* Нижняя граница для заголовка */
        border-top: none;
        background: linear-gradient(135deg, lightsteelblue, #d7e4ed); /* Цвет фона заголовков */
        border-radius: 1px;
        border-left: none; /* Убираем левую границу */
        border-right: none; /* Убираем правую границу */

    }
    th:hover {
        background: linear-gradient(135deg, #d7e4ed, lightsteelblue);
    }
    td {
        padding: 4px; /* Уменьшаем padding для уменьшения высоты строк */
        text-align: center;
        vertical-align: middle;
        border-top: 1px solid grey; /* Верхняя граница */
        border-bottom: 1px solid grey; /* Нижняя граница */
        border-left: none; /* Убираем левую границу */
        border-right: none; /* Убираем правую границу */
        font-weight: bold;

    }
    tbody tr {
        transition: background-color 0.3s ease; /* Плавный переход при изменении цвета */
    }
    tbody tr:hover {
        background-color: #e6e6fa !important; /* Цвет строки при наведении с переопределением */
    }
    td.visible-border {
        border-left: 1px solid #dee2e6; /* Левый край ячейки */
        border-right: 1px solid #dee2e6; /* Правый край ячейки */
    }
</style>

<table>
    <thead>
        <tr class="bold-border;">
            <th rowspan="2">№ заказа</th>
            <th rowspan="2">Цех / <br>Статус</th>
            <th rowspan="2">Организация</th>
            <th rowspan="2">Счет</th>
            <th colspan="3">Новый конструктив</th>
            <th colspan="3">Старый конструктив</th>
            <th rowspan="2">Фрамуга</th>
            <th rowspan="2">В < 3 м</th>
            <th rowspan="2">В > 3 м</th>
            <th rowspan="2">Стекло</th>
            <th rowspan="2">Ъ</th>
            <th rowspan="2">В очередь</th>
            <th rowspan="2">Менеджер</th>
            <th rowspan="2">Готовность</th>
            <th rowspan="2">Комментарии</th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>Л</th>
            <th>1</th>
            <th>2</th>
            <th>Л</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr style="background-color: {% if order.status == 'готов' %} #BFEEC6 {% endif %}
                                         {% if order.status == 'остановлен' %} #EEE1E2 {% endif %}
                                         {% if order.status == 'отменен' %} #ff9085 {% endif %}
                                         {% if order.status == 'отгружен' %} #c8bfe7 {% endif %}">
                <td>
                    <a href="{% url 'order_detail' order.id %}">{{ order.id }}</a>
                    <br>
                    <span style="font-size: 11px; font-style: italic; color: {% if order.status == 'отгружен' or order.status == 'отменен'%} white {% else %} grey {% endif %};">{{ order.status }}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#workshopModal{{ order.id }}">
                        {% if order.status == 'в очереди' %}
                            <img id="iconPlay{{ order.id }}" src="{% static 'erp_main/images/icon_play.png' %}" style="width: 30px; height: auto;" alt="запуск">
                        {% elif order.status == 'отгружен' %}
                            <img id="iconPlay{{ order.id }}" src="{% static 'erp_main/images/delivered.png' %}" style="width: 30px; height: auto;" alt="">
                        {% elif order.status == 'отменен' %}
                            <img id="iconPlay{{ order.id }}" src="{% static 'erp_main/images/canceled.png' %}" style="width: 30px; height: auto;" alt="">
                        {% elif order.workshop %}
                            <img id="iconPlay{{ order.id }}" src="{{ order.workshop }}" style="width: 30px; height: auto;" alt="">
                        {% endif %}
                    </button>

    <!-- Модальное окно -->
                    <div class="modal fade" id="workshopModal{{ order.id }}" tabindex="-1" aria-labelledby="workshopModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="workshopModalLabel">Выберите номер цеха:</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <input type="radio" id="workshop1{{ order.id }}" name="workshop{{ order.id }}" value="1">
                                        <label for="workshop1{{ order.id }}">1 цех</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="workshop3{{ order.id }}" name="workshop{{ order.id }}" value="3">
                                        <label for="workshop3{{ order.id }}">3 цех</label>
                                    </p>
                                    {% if order.status != 'в очереди' and order.status != 'остановлен' %}
                                    <p>
                                        <input type="radio" id="workshop2{{ order.id }}" name="workshop{{ order.id }}" value="2">
                                        <label for="stopped{{ order.id }}">Остановить</label>
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="button" class="btn btn-primary" onclick="saveWorkshop({{ order.id }})">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="font-family: 'Times New Roman', sans-serif;">
                    <a href="{% url 'organization_detail' order.invoice.organization.id %}">{{ order.invoice.organization }}</a>
                </td>
                <td>
                    <a href="{% url 'invoice_detail' order.invoice.id %}">{{ order.invoice.number }}</a>
                                        <br>
                    <span style="font-size: 9px; font-style: italic;
                            color:
                            {% if order.invoice.percent < 100 %} grey
                            {% else %} green
                            {% endif %};">
                        {{ order.invoice.percent }}%</span>
                </td>
                <td class="visible-border" style="border-left: 2px solid #dee2e6;"> {% if order.doors_1_nk != 0 %}{{ order.doors_1_nk }}{% else %} {% endif %}</td>
                <td class="visible-border" >{% if order.doors_2_nk != 0 %}{{ order.doors_2_nk }}{% else %} {% endif %}</td>
                <td class="visible-border">{% if order.hatch_nk != 0 %}{{ order.hatch_nk }}{% else %} {% endif %}</td>
                <td class="visible-border" style="border-left: 2px solid #dee2e6;">{% if order.doors_1_sk != 0 %}{{ order.doors_1_sk }}{% else %} {% endif %}</td>
                <td class="visible-border">{% if order.doors_2_sk != 0 %}{{ order.doors_2_sk }}{% else %} {% endif %}</td>
                <td class="visible-border">{% if order.hatch_sk != 0 %}{{ order.hatch_sk }}{% else %} {% endif %}</td>
                <td class="visible-border" style="border-left: 2px solid #dee2e6;">{% if order.transom != 0 %}{{ order.transom }}{% else %} {% endif %}</td>
                <td class="visible-border">{% if order.gate != 0 %}{{ order.gate }}{% else %} {% endif %}</td>
                <td class="visible-border">{% if order.gate_3000 != 0 %}{{ order.gate_3000 }}{% else %} {% endif %}</td>
                <td class="visible-border" style="border-left: 2px solid #dee2e6; border-right: 2px solid #dee2e6;">
                    {% if order.glass != 0 %}
                        <a href="{% url 'glass_info' order.id %}" style="position: relative; display: inline-block;">
                        <img id="iconPlay{{ order.id }}" src="{% static 'erp_main/images/mirror.png' %}" style="width: 35px; height: auto; opacity: 0.8;" alt="">
                            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: blue; font-weight: bold; font-size: 12px; text-decoration: underline;">
                        {{ order.glass }}
                         </span>
                        </a>
                    {% else %} {% endif %}
                </td>
                <td class="visible-border" style="border-right: 2px solid #dee2e6;"></td>
                <td style="font-size: 12px;">{{ order.created_at|date:"d.m.Y" }}</td>
                <td style="font-size: 12px; ">{{ order.invoice.organization.user.get_full_name }}</td>
                <td style="font-size: 12px;">{{ order.due_date|date:"d.m.Y" }}</td>
                <td style="font-size: 12px; text-align: left;">{{ order.comment|safe }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <div class="pagination text-center mt-4">
    {% if orders.has_previous %}
        <a href="?page=1" class="btn btn-primary">&laquo; Первая</a>
        &nbsp
        <a href="?page={{ orders.previous_page_number }}" class="btn btn-primary">Предыдущая</a>
        &nbsp &nbsp
    {% endif %}


    {% for i in orders.paginator.page_range %}
        {% if orders.number == i %}
            <a href="?page={{ i }}" class="btn btn-secondary active">{{ i }}</a>
            &nbsp
        {% else %}
            <a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a>
            &nbsp
        {% endif %}
    {% endfor %}

    {% if orders.has_next %}
        &nbsp
        <a href="?page={{ orders.next_page_number }}" class="btn btn-primary">Следующая</a>
        &nbsp
        <a href="?page={{ orders.paginator.num_pages }}" class="btn btn-primary">Последняя &raquo;</a>
    {% endif %}
</div>
<script>
function saveWorkshop(orderId) {
    const selectedWorkshop = document.querySelector('input[name="workshop' + orderId + '"]:checked');

    if (selectedWorkshop) {
        const workshopValue = selectedWorkshop.value;

        fetch(`/erp_main/update_workshop/${orderId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ workshop: workshopValue })
        })
        .then(response => {
            if (response.ok) {
                // Обновляем иконку в зависимости от выбранного значения
                const iconElement = document.getElementById(`iconPlay${orderId}`);
                if (workshopValue === "1") {
                    iconElement.src = "{% static 'erp_main/images/icon_play1.png' %}";
                } else if (workshopValue === "3") {
                    iconElement.src = "{% static 'erp_main/images/icon_play3.png' %}";
                } else if (workshopValue === "2") {
                    iconElement.src = "{% static 'erp_main/images/pause.png' %}";
                }

                // Закрыть модальное окно
                const modalElement = document.getElementById(`workshopModal${orderId}`);
                const bsModalElement = bootstrap.Modal.getInstance(modalElement);
                bsModalElement.hide();

                // Управление атрибутами доступности
                modalElement.setAttribute('aria-hidden', 'true');
                modalElement.setAttribute('inert', 'true');
            } else {
                alert('Ошибка при обновлении цеха.');
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    } else {
        alert('Пожалуйста, выберите номер цеха.');
    }
}

function openWorkshopModal(orderId) {
    const modalElement = document.getElementById(`workshopModal${orderId}`);
    modalElement.removeAttribute('aria-hidden');
    modalElement.removeAttribute('inert');
}

// Привязываем функцию открытия модального окна к событию открытия
document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll("button[data-bs-toggle='modal']");
    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const orderId = this.getAttribute('data-bs-target').replace('#workshopModal', '');
            openWorkshopModal(orderId);
        });
    });
});
</script>
{% endblock %}
