{% extends 'base.html' %}

{% block content %}
    <b>Детальная информация по </b>
        {% if organization.name %}
            <b>организации: {{ organization.name }}</b>
        {% else %}
            физическому лицу: {{ organization.name_fl }} ({{ organization.phone_number }})
        {% endif %}
    <br><br>
    Заказы <br>
    Выставленные счета <br>
    Текущий прайс <br>
    Предыдущие прайсы <br>
    Отгруженные заказы <br>
    Задолженность по готовым заказам <br>
    Аванс по заказам в работе <br>
    Ожидаемые доплаты <br>
    Ожидаемые оплаты <br>
{% endblock %}