{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="ru">

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка данных организации</title>
</head>
<body>
    <div class="container">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user.username }}

            {{ form.as_p }}  <!-- Рендеринг полей формы -->

            <button type="submit">Сохранить</button>
        </form>

        {% if form.non_field_errors %}
            <div class="error">
                <strong>Ошибки:</strong>
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for field in form %}
            {% for error in field.errors %}
                <div class="error">
                    <strong>{{ field.label }}:</strong> {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
{% endblock %}
</html>
