{% extends 'base.html' %}

{% block content %}
    <b>Детальная информация по </b>
        {% if organization.name %}
            <b>организации:
                <br>
                <a href="{% url 'organization_edit' organization.pk %}">{{ organization.name }}</a></b>
        {% else %}
            физическому лицу: {{ organization.name_fl }} ({{ organization.phone_number }})
        {% endif %}
    <br><br>
    <a href="{% url 'orders_list' %}?source={{ organization.pk }}">Список заказов</a> <br>
    <a href="{% url 'invoices_list' %}?source={{ organization.pk }}">Выставленные счета</a> <br>
    Текущий прайс <br>
    Предыдущие прайсы <br>
    Задолженность по готовым заказам <br>
    Аванс по заказам в работе <br>
    Ожидаемые доплаты <br>
    Ожидаемые оплаты <br>

    {% if organization.ready_for_contract %}
        <form method="POST" action="{% url 'create_contract' organization.pk %}">
            {% csrf_token %}
            <label for="legal_entity">Выберите юридическое лицо:</label>
            <select name="legal_entity" id="legal_entity">
                {% for entity in legal_entities %}
                    <option value="{{ entity.pk }}">{{ entity.name }}</option>
                {% endfor %}
            </select>

            <button type="submit">Создать договор</button>
        </form>

        <br>

        {% if new_contract_url %}
            <a href="{{ new_contract_url }}">Скачать договор</a>
        {% endif %}
    {% else %}
        <br>
        <strong> Для формирования договора требуется заполнить полные
            <a href="{% url 'organization_edit' organization.pk %}">реквизиты</a>
            организации! </strong>
    {% endif %}
{% endblock %}