{% extends 'base.html' %}

{% block content %}
    Детальная информация по
        {% if organization.name %}
            организации: {{ organization.name }}
        {% else %}
            физическому лицу: {{ organization.name_fl }} ({{ organization.phone_number }})
        {% endif %}
    Заказы
    Выставленные счета
    Текущий прайс
    Предыдущие прайсы
    Отгруженные заказы
    Задолженность по готовым заказам
    Аванс по заказам в работе
    Ожидаемые доплаты
    Ожидаемые оплаты
{% endblock %}