{% extends 'base.html' %}

{% block content %}
<h1>Список Организаций</h1>

{% if is_admin %}
    <h2>Полный список организаций</h2>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Название организации</th>
                <th>Менеджер</th>
                <th>Дата последнего заказа</th>
            </tr>
        </thead>
        <tbody>
            {% for org in organizations %}
            <tr>
                <td>{{ org.name }}</td>
                <td>{{ org.user.username }}</td>
                <td>{% if org.order_set.exists %}{{ org.order_set.latest.get_created_at|date:"d-m-Y" }}{% else %}Нет заказов{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>Ваши организации</h2>
    <div class="list-group">
        {% for org in organizations %}
        <a href="#" class="list-group-item list-group-item-action">{{ org.name }}</a> <!-- Замените # на URL-адрес для каждой организации -->
        {% empty %}
        <li class="list-group-item">Нет организаций</li>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}