{% extends 'base.html' %}

{% block content %}

{% if is_admin %}
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th  style="padding: 4px; text-align: center; vertical-align: middle;">Название организации</th>
                <th  style="padding: 4px; text-align: center; vertical-align: middle;">Менеджер</th>
                <th  style="padding: 4px; text-align: center; vertical-align: middle;">Дата последнего заказа</th>
            </tr>
        </thead>
        <tbody>
            {% for org in organizations %}
            <tr>
                <td style="padding: 8px; text-align: left; vertical-align: middle;">
                    <a href="{% url 'organization_detail' org.id %}">
                        {% if org.name %}
                            {{ org.name }}
                        {% else %}
                            {{ org.name_fl }} ({{ org.phone_number }})
                        {% endif %} </a>
                </td>
                <td style="padding: 4px; text-align: center; vertical-align: middle;">{{ org.user.first_name }} {{ org.user.last_name }}</td>
                <td style="padding: 4px; text-align: center; vertical-align: middle;">{{org.last_order}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>Ваши организации</h2>
    <div class="list-group">
        {% for org in organizations %}
        <a href="#" class="list-group-item list-group-item-action">{{ org.name }}</a> <!-- Замените # на URL-адрес для каждой организации -->
        {% empty %}
        <li class="list-group-item">Нет организаций</li>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}