{% extends 'base.html' %}
{% block content %}
            <!-- Основная таблица -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Столбец 1</th>
                            <th>Столбец 2</th>
                            <th>Столбец 3</th>
                            <th>Столбец 4</th>
                            <th>Столбец 5</th>
                            <th>Столбец 6</th>
                            <th>Столбец 7</th>
                            <th>Столбец 8</th>
                            <th>Столбец 9</th>
                            <th>Столбец 10</th>
                            <th>Столбец 11</th>
                            <th>Столбец 12</th>
                            <th>Столбец 13</th>
                            <th>Столбец 14</th>
                            <th>Столбец 15</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!-- Пустые строки добавляются сюда с помощью JavaScript -->
                    </tbody>
                </table>
            </div>
{% endblock %}

