{% extends 'base.html' %}

{% block content %}
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <p>Введите свой адрес электронной почты, и мы отправим вам инструкции по сбросу пароля.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

        <div class="mt-3">
            <a href="{% url 'login' %}">Вернуться ко входу</a>
        </div>
    </div>
</body>
{% endblock %}